    <h1>Coucou <%= @user.first_name%></h1>

    <%= @user.first_name%>
    <%= @user.last_name%>
    <%= @user.email%>
    <%= @user.description%>

<h4>Mes événements en tant qu'organisateur</h4>
<div class = "event-grid">
    <% @user_events.each do |event| %>
    <div class = "event-card">
      <p><%= event.title%></p>
      <p><%= event.description%></p>
      <p><%= event.start_date%></p>
      <p><%= event.location%></p>
      <p><%= event.duration%></p>
      <p><%= event.price%></p>
      <%if !event.is_validated%>
        <small>En attente de validation</small>
      <%end%>
      </div>

    <% end %>
</div>

