    <h1>Coucou <%= @user.first_name%></h1>

    <%= @user.first_name%><br />
    <%= @user.last_name%><br />
    <%= @user.email%><br />
    <%= @user.description%>

<h2>Mes événements en tant qu'admin</h2>

    <% @user_events.each do |event| %>
      <%= event.title%><br />
      <%= event.description%><br />
      <%= event.start_date%><br />
      <%= event.location%><br />
      <%= event.duration%><br />
      <%= event.price%><br />
    <% end %>
