    <h1>Coucou <%= @user.first_name%></h1>

    <%= @user.first_name%>
    <%= @user.last_name%>
    <%= @user.email%>
    <%= @user.description%>

<h4>Mes événements en tant qu'admin</h4>
<div class = "event-grid">
    <% @user_events.each do |event| %>
    <div class = "event-card">
      <%= event.title%><br />
      <%= event.description%><br />
      <%= event.start_date%><br />
      <%= event.location%><br />
      <%= event.duration%><br />
      <%= event.price%><br />
    <% end %>
</div>
</div>

