<h1>New Event</h1>

<%= form_with model:@event, url: events_path, method: :post, local:true do |f| %>
 

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div><br />

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_field :start_date %>
  </div><br />

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div><br />

  <div class="actions">
    <%= f.submit "Créer l'événement" %>
  </div><br />
<% end %>

<%= link_to 'Back', events_path %>
