    <div class="jumbotron event-show">
    <div>
      <h1 class="display-4"><%= @event.title%></h1>
      <p class="lead"><%= @event.description%></p>
      <!--   <hr class="my-4">   -->

      <% if !@event.attendees.include?(current_user) %>  
      <%= link_to "Participer", new_event_attendance_path(@event.id), class:"btn btn-primary btn-lg"%>

<% else %>
  <p>Impatient de t'y voir, gros !</p>
  <%= link_to "Ne plus participer", event_attendance_path(@event.id, @attendance.id), method: :delete, class:"btn btn-danger btn-lg" %>

<%end%>
</div>
  <ul class="event-details">
  <h3><i class="fas fa-info"></i> Infos</h3>
    <li>Durée : <%= @event.duration%> heure</li>
    <li>Ville : <%= @event.location%></li>
    <li>Prix : <%= @event.price%> €</li>
    <li>Nombre d'inscrits : <%= @event.attendees.count%></li>
    <li>Organisateur : <%= User.find(@event.admin_id).first_name%> <%= User.find(@event.admin_id).last_name%></li>

    <br>

    <% if current_user && current_user.id == @event.admin_id %>  
      <%= link_to 'Edit', edit_event_path(@event.id), class:'btn btn-warning' %> 
      <%= link_to 'Supprimer', event_path(@event.id),method: :delete, class:'btn btn-danger' %> 
<%# <span class="badge badge-pill badge-success">Success</span> %>

    <%end%>
  </ul>


    </div>


<p id="notice"><%= notice %></p>



<%= link_to 'Back', events_path %>
