<p id="notice"><%= notice %></p>

<%= @event.start_date%><br />

<%= @event.title%><br />

<%= @event.description%><br />

<%= @event.duration%><br />

<%= @event.location%><br />

<%= @event.price%><br />

<% if !@event.attendees.include?(current_user) %>  
<%= link_to "Participer", event_attendances_path(@event.id), method: :post%>
<% else %>
<p>Impatient de t'y voir, gros !</p>
<%end%>


<% if current_user.id == @event.admin_id %>  
<%= link_to 'Edit', edit_event_path(@event) %> 
<%end%>



<%= link_to 'Back', events_path %>
