<p id="notice"><%= notice %></p>

<%= @event.start_date%><br />

<%= @event.title%><br />

<%= @event.description%><br />

<%= @event.duration%><br />

<%= @event.location%><br />

<%= @event.price%><br />




<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
