<!DOCTYPE html>
    <html>
      <head>
        <title>The Eventbrite Killer</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
      </head>
      <body>
        <header>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <%= link_to "EventbriteKiller", root_path, class:'logo' %>
              <ul class="navbar-nav">
                <% if current_user%>
                  <li>
                    <%= link_to "Mon profil", user_path(current_user.id) %>
                  </li>
                  <li>
                    <%= link_to "Mes événements", user_events_path(current_user.id) %>
                  </li>
                  <li>
                    <%= link_to "Créer un événement", new_event_path %>
                  </li>
                  <li>
                    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
                  </li>
                <% else%>
                  <li>
                    <%= link_to "Se connecter", new_user_session_path %>
                  </li>
                  <li>
                    <%= link_to "S'inscrire", new_user_registration_path %>
                  </li>
                <%end%>
              </ul>
            </div>
          </nav>
        </header>
        
        <%= yield %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      </body>
    </html>
